body {
    margin: 0;
    padding: 0;
}
.nav {
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fa-brands {
    font-size: 25px;
    cursor: pointer;
}
.rod {
    font-size: 25px;
}
.main-title {
    font-size: 25px;
    font-family: 'Lobster', cursive;
}
.search-bar {
    width: 160px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}
.search-input {
    width: 50px;
    border: none;
}
.search-input:focus {
    outline: none;
    width: 130px;
    text-align: left;
}
.fa-magnifying-glass {
    font-size: 13px;
    margin-right: 3px;
}
.icons-right {
    display: flex;
    gap: 30px;
}
.explore {
    width: 25px;
    cursor: pointer;
}
.heart {
    width: 25px;
    cursor: pointer;
}
.profile {
    width: 25px;
    cursor: pointer;
}
.main {
    background-color: white ;
    display: flex;
}
.main-feeds {
    width: 500px;
    height: 800px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50px;
    left: 250px;
}
.article-user-bar {
    display: flex;
    align-items: center;
}
.article-user-bar-profile {
    margin: 13px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.article-id {
    font-weight: bold;
}
.fa-ellipsis {
    font-size: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.article-image {
    width: 500px;
    height: 500px;
}
.article-menu-bar {
    margin: 10px 15px 5px ;
    display: flex;
    align-items: center;
    gap: 15px;
}
.fa-heart {
    color: #ed4955;
    font-size: 25px;
    cursor: pointer;
}
.fa-comment {
    font-size: 25px;
    cursor: pointer;
}
.fa-arrow-up-from-bracket {
    font-size: 22px;
    cursor: pointer;
}
.fa-bookmark {
    font-size: 22px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.article-like-bar {
    margin: 6px;
    display: flex;
    align-items: center;
}
.article-like-bar-profile {
    margin: 0px 0px 0px 10px;
    width: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.article-like-bar-like-comment {
    margin: 5px;
}
.comment-id {
    font-weight: bold;
}
.comment-like-qt {
    font-weight: bold;
}
.article-des {
    margin: 10px 11px;
}
.article-des-id {
    margin: 5px;
    font-weight: bold;
}
.article-comment-bar {
    width: 500px;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
}
.article-comment {
    margin: 10px;
    width: 600px;
    border-style: none;
}
.article-comment:focus {
    width: 600px;
    outline: none;
}
.article-comment-btn {
    margin: 5px;
    font-size: 15px;
    color: #a6d2fc;
    border-style: none;
    background-color: white;
    position: absolute;
    right: 0px;
    cursor: pointer;;
}
.main-right {
    position: relative;
    top: 50px;
    left: 280px;
}
.right-fir {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.right-fir-profile {
    width: 50px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.right-fir-box {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}
.right-fir-id {
    font-weight: bold;
}
.right-fir-des {
    color: #999999;
}
.main-right-story {
    width: 300px;
    border: 1px solid black;
}
.main-right-story-header {
    margin: 14px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}
.story-header-story {
    color: #999999;
}
.story-header-more {
    font-weight: bold;
    cursor: pointer;
}
.story-body-fir {
    display: flex;
    align-items: center;
}
.story-body-fir-profile {
    width: 45px;;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.story-body-fir-text {
    width: 50px;
}
.story-body-fir-id {
    font-weight: bold;
}
.story-body-fir-time {
    color: #999999;
}
