@import '../reset.css';
.nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icons-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fa-brands {
    font-size: 25px;
    cursor: pointer;
}
.rod {
    font-size: 25px;
}
.main-title {
    font-size: 25px;
    font-family: 'Lobster', cursive;
}
.search-bar {
    width: 160px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}
.search-input {
    width: 50px;
    border: none;
}
.search-input:focus {
    outline: none;
    width: 130px;
    text-align: left;
}
.fa-magnifying-glass {
    font-size: 13px;
    margin-right: 3px;
}
.icons-right {
    display: flex;
    gap: 30px;
}
.explore {
    width: 25px;
    cursor: pointer;
}
.heart {
    width: 25px;
    cursor: pointer;
}
.profile {
    width: 25px;
    cursor: pointer;
}
.main {
    margin-top: 40px;
    background-color: transparent ;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main-feeds {
    width: 44%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.article-user-bar {
    display: flex;
    align-items: center;
}
.article-user-bar-profile {
    margin: 13px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
.article-id {
    font-weight: bold;
}
.fa-ellipsis {
    font-size: 20px;
    cursor: pointer;
}
.article-image {
    width: 100%;
}
.article-menu-bar {
    margin: 10px 15px 5px ;
    display: flex;
    align-items: center;
    gap: 15px;
}
.fa-heart {
    color: #ed4955;
    font-size: 25px;
    cursor: pointer;
}
.fa-comment {
    font-size: 25px;
    cursor: pointer;
}
.fa-arrow-up-from-bracket {
    font-size: 22px;
    cursor: pointer;
}
.fa-bookmark {
    font-size: 22px;
    cursor: pointer;
}
.article-like-bar {
    margin: 5px;
    display: flex;
    align-items: center;
}
.article-like-bar-profile {
    width: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.article-like-bar-like-comment {
    margin: 5px;
}
.comment-id {
    font-weight: bold;
}
.comment-like-qt {
    font-weight: bold;
}
/* .article-des {
} */
.article-des-id {
    margin: 5px;
    font-weight: bold;
}
.article-comment-bar {
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
}
.article-comment {
    margin: 10px;
    width: calc(100% - 40px);
    border-style: none;
}
.article-comment:focus {
    outline: none;
}
.article-comment-btn {
    width: 40px;
    margin: 5px;
    font-size: 15px;
    color: #a6d2fc;
    border-style: none;
    background-color: white;
    cursor: pointer;;
}
.main-right {
    width: 19%;
}
.right-fir {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.right-fir-profile {
    width: 50px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.right-fir-box {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}
.right-fir-id {
    font-weight: bold;
}
.right-fir-des {
    color: #999999;
}
.main-right-story {
    margin-bottom: 15px;
    border: 1px solid #999999;
    border-radius: 5px;
}
.main-right-story-header {
    margin: 14px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}
.story-header-story {
    color: #999999;
}
.story-header-more {
    font-weight: bold;
    cursor: pointer;
}
.main-right-story-body {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.story-body-fir {
    display: flex;
}
.story-body-fir-ring {
    width: 53px;
}
.story-body-fir-wrap {
    display: flex;
    align-items: center;
    position: relative;
    right: 50px;
}
.story-body-fir-profile {
    width: 45px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}
.story-body-fir-text {
    width: 50px;
}
.story-body-fir-id {
    font-weight: bold;
}
.story-body-fir-time {
    color: #999999;
}
.story-body-sec {
    display: flex;
}
.story-body-sec-ring {
    width: 53px;
}
.story-body-sec-wrap {
    display: flex;
    align-items: center;
    position: relative;
    right: 50px;
}
.story-body-sec-profile {
    width: 45px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}
.story-body-sec-text {
    width: 100px;
}
.story-body-sec-id {
    font-weight: bold;
}
.story-body-sec-time {
    color: #999999;
}
.story-body-tir {
    display: flex;
}
.story-body-tir-ring {
    width: 53px;
}
.story-body-tir-wrap {
    display: flex;
    align-items: center;
    position: relative;
    right: 50px;
}
.story-body-tir-profile {
    width: 45px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}
.story-body-tir-text {
    width: 70px;
}
.story-body-tir-id {
    font-weight: bold;
}
.story-body-tir-time {
    color: #999999;
}
.story-body-four {
    display: flex;
}
.story-body-four-ring {
    width: 53px;
}
.story-body-four-wrap {
    display: flex;
    align-items: center;
    position: relative;
    right: 50px;
}
.story-body-four-profile {
    width: 45px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}
.story-body-four-text {
    width: 75px;
}
.story-body-four-id {
    font-weight: bold;
}
.story-body-four-time {
    color: #999999;
}
.main-right-story-2th {
    border: 1px solid #999999;
    border-radius: 5px;
}
.main-right-story-2th-header {
    margin: 14px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
}
.story-2th-header-recomend {
    color: #999999;
}
.story-2th-header-more {
    font-weight: bold;
    cursor: pointer;
}
.main-right-story-2th-body {
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.story-2th-body-fir {
    display: flex;
    align-items: center;
}
.story-2th-body-fir-profile {
    width: 45px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.story-2th-body-fir-id {
    font-weight: bold;
}
.story-2th-body-fir-btn {
    font-size: 17px;
    border-style: none;
    background-color: white;
    color: #3898f0;
    cursor: pointer;
}
.story-2th-body-sec {
    display: flex;
    align-items: center;
}
.story-2th-body-sec-profile {
    width: 45px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.story-2th-body-sec-id {
    font-weight: bold;
}
.story-2th-body-sec-btn {
    font-size: 17px;
    border-style: none;
    background-color: white;
    color: #3898f0;
    cursor: pointer;
}
.story-2th-body-tir {
    display: flex;
    align-items: center;
}
.story-2th-body-tir-profile {
    width: 45px;
    margin-right: 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}
.story-2th-body-tir-id {
    font-weight: bold;
}
.story-2th-body-tir-btn {
    font-size: 17px;
    border-style: none;
    background-color: white;
    color: #3898f0;
    cursor: pointer;
}

/* JS */

.items {
    list-style: none;
    padding: 0px;
}
.itemDel {
    border-style: none;
    font-size: 10px;
    background-color: white;
    cursor: pointer;
}
.fa-trash-can {
    font-size: 15px;
}
.itemId {
    font-weight: bold;
    margin: 5px;
}

/* Login */

@media screen and (max-width: 480px) {
    .search-bar {
        display: none;
    }
    .main-title {
        display: none;
    }
    .rod {
        display: none;
    }
}

/* Main */

@media screen and (max-width: 1200px) {
    .main-right {
        display: none;
    }
    .main-feeds {
        width: 50%
    }
}